<div class="container-fluid">
    <div class="lpb section row align-items-center">
        <img src="../../assets/fencing.jpg" class="image">
        <div class="description row justify-content-center ">
            <div>
                <div class="title">Fenced for 9 Years</div>
                <div class="text">United States International Cadet Travel Team</div>
                <br>
                <div class="title">Recent Results</div>
                <div class="text">
                    -3rd at the 2018 Division II October NAC<br> -3rd at the 2018 Cadet and Junior November RJCC<br> -3rd at the 2019 Senior Team July Challenge <br> -7th at the 2019 Div1A September ROC <br> -19th at the 2019 Cadet October NAC<br> -28th
                    at the 2019 Division I December NAC<br> -21st at the 2020 Rome Cadet World Cup<br> -Participated in Bratislava Cadet World Cup<br>
                </div>
            </div>
        </div>
    </div>
    <div class="lpb section row align-items-center">
        <img src="../../assets/viola.jpg" class="image">
        <div class="description row justify-content-center">
            <div>
                <div class="title">Played for 6 Years</div>
                <br>
                <div class="subtitle">Principal of Archbishop Mitty High School Orchestra</div>
                <div class="text"> -Lead viola section in rehearsals and seasonal concerts</div>
                <div class="subtitle">Principal of Silivon Valley Youth Orchestra</div>
                <div class="text">
                    -Lead viola section<br>-Fundraising for children with special needs, California Fires, and Covid-19
                </div>
                <div class="subtitle">Active Member at Bay Area Youth Music Society</div>
                <div class="text">
                    -Involved in orchestra, chamber groups, and solo performances -Performing at retirement homes
                </div>
                <div class="subtitle">Freelance player</div>
                <div class="text">
                    -Chamber group performances at gigs, hospitals, and retirement homes around the Bay Area
                </div>
            </div>
        </div>
    </div>
    <div class="section row align-items-center">
        <img src="../../assets/leadership.jpg" class="image">
        <div class="description row justify-content-center">
            <div>
                <div class="subtitle">
                    Treasurer and Offier of Chinese Culture Club
                </div>
                <div class="text">
                    -Bring Chinese culture and traditions on campus<br> -Manage club expenses<br> -Organize, create advertisement, and assist during club events<br>
                </div>
                <div class="subtitle">
                    Treasurer and UI Design Lead at HiCoding Club
                </div>
                <div class="text">
                    -Student-led nonprofit offering website-development experience for students <br> -Help small businesses build functional and efficient websites <br> -Manage finances and file forms <br> -Break down projects into tasks for UI Design
                    Team
                </div>
            </div>
        </div>
    </div>
</div>