<div class="container-xl px-0">
    <div class="row no-gutters align-items-center">
        <div class="col-6 description">
            <div>
                <div class="paragraph">
                    <div class="title">Recent Trails</div>
                    <div class="subtitle">Mission Peak</div>
                    <div class="text"> -High Hike<br> -Cows, Ground Squirrels, and Hawks<br> -Nice Sunset<br>
                    </div>

                    <div class="subtitle">Lake Elizabeth</div>
                    <div class="text"> -Geese, Ducks, and Ground Squirrels<br> -Lots of Tables and Structures<br>
                    </div>

                    <div class="subtitle">Almeda Creek Trail</div>
                    <div class="text"> -Hawks, Pelicans, Geese, and Ducks<br> -Fruit Forest Area<br> -Fishing
                        <br> -Mud flats <br>
                    </div>

                    <div class="subtitle">Los Gatos Creek Trail</div>
                    <div class="text"> -Good parks<br> -Nice stream <br> -Geese and Ducks<br>

                        <br>
                    </div>
                </div>

                <div class="paragraph">
                    <div class="title">Exploring Nature...</div>
                    <div class="subtitle">Good Exercise</div>
                    <div class="subtitle">Family Time</div>
                    <div class="subtitle">Wild Animals</div>
                    <div class="subtitle">Peaceful Nature</div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../assets/trail.png" class="image" id="trail-desktop">
            <img src="../../../assets/trail-mobile.png" class="image" id="trail-mobile">
        </div>
    </div>
    <div class="my-3 ml-5">
        <a routerLink="/interests">
            <img src="../../../assets/backButton.svg" class="back-button">
        </a>
    </div>
</div>