<div class="container-xl px-0">
    <div class="row no-gutters align-items-center">
        <div class="col-6 description">
            <div>
                <div class="paragraph">
                    <div class="title">Crops Grown This Year</div>
                    <div class="subtitle">Peppers</div>
                    <div class="text">-Red Pepper<br> -Shishito Pepper<br> -Green Bell Pepper<br> -Yellow Bell Pepper<br>
                    </div>

                    <div class="subtitle">Tomatoes</div>
                    <div class="text">-Sweet 100 Tomato<br> -Roma Tomato<br> -Beef Tomato<br> -Assortment of Cherry Tomatoes<br>
                    </div>

                    <div class="subtitle">Beans</div>
                    <div class="text"> -Sugar Snap Pea<br> -Green Bean<br>
                    </div>

                    <div class="subtitle">Herbs</div>
                    <div class="text"> -Parsley <br> -Green Onions<br> -Italian Basil<br> -Thai Basil<br> -Thyme
                        <br>
                    </div>

                    <div class="subtitle">Oriental/Korean Melons</div>
                    <div class="subtitle">Zucchinis</div>
                    <div class="subtitle">Slicer Bush Cucumber</div>

                </div>

                <div class="paragraph">
                    <div class="title">Fruit Trees</div>
                    <div class="subtitle">Kamquat Tree</div>
                    <div class="subtitle">Lemon Tree</div>
                    <div class="subtitle">Micro Peach Tree</div>
                    <div class="subtitle">Fig Tree</div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../assets/garden.png" class="image" id="garden-desktop">
            <img src="../../../assets/garden-mobile.png" class="image" id="garden-mobile">
        </div>
    </div>
    <div class="my-3 ml-5">
        <a routerLink="/interests">
            <img src="../../../assets/backButton.svg" class="back-button">
        </a>
    </div>
</div>