<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <body>

    <div class="conatiner">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center contact">
            <div>
              Contact Me Using the Following
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <div class="d-flex justify-content-center other">
            <div>
              Inquiries
              <br>
              email: williamshih1234@gmail.com
              <br>
              Social Media
              <br>
              instagram: william._.shih
            </div>
          </div>
        </div>
      </div>

      <img src="email.png" alt="" class="email">
      <img src="instagram.png" alt="" class="instagram">

    </div>

  </body>

</html>
