<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <body>

    <div class="conatiner">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center contact">
            <div>
              Contact Me Using the Following
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <div class="d-flex justify-content-around other">

            <div class="flex-fill align-self-end mr-5">
              <img src="email.png" alt="" class="email">
            </div>

            <div class="">
              Inquiries
              <br>
              email:
              <a href="williamshih1234@gmail.com">williamshih1234@gmail.com</a>
              <br>
              Social Media
              <br>
              instagram: william._.shih
            </div>

            <div class="flex-fill align-self-end">
              <img src="instagram.png" alt="" class="instagram">
            </div>

          </div>

        </div>
      </div>

    </div>

  </body>

</html>
