<div class="container-fluid">
	<div class="lpb section row align-items-center">
		<img src="../../assets/GardenONe.png" class="imageOne"> <img
			src="../../assets/GardenTwo.png" class="imageTwo"> <img
			src="../../assets/GardenThree.png" class="imageThree"> <img
			src="../../assets/NatureOne.png" class="imageFour"> <img
			src="../../assets/NatureTwo.png" class="imageFive"> <img
			src="../../assets/AnimalsONe.png" class="imageSix"> <img
			src="../../assets/AnimalsTwo.png" class="imageSeven"> <img
			src="../../assets/AnimalsThree.png" class="imageEight">

		<body>
		    <div id="wrapper"></div>
		</body>


		<div class="description row justify-content-center ">
			<div>
				<div class="title"><p><b><a href="default.asp" style="color: #FFFFFF" target="_blank">Gardening</a></b></p></div>
				<div class="titleTwo"><p><b><a href="default.asp" style="color: #FFFFFF" target="_blank">Nature</a></b></p></div>
				<div class="titleThree"><p><b><a href="default.asp"  style="color: #FFFFFF" target="_blank">Animals</a></b></p></div>
			</div>
			<div>
				<div class="blurOne"></div>
				<div class="blurTwo"></div>
				<div class="blurThree"></div>
			</div>
			<!-- <div> Bugs need to be fixed 
				<div class="imageBlurOne"></div>
				<div class="imageBlurTwo"></div>
				<div class="imageBlurThree"></div>
			</div> -->





		</div>
	</div>
</div>


