
html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.title {
	position: absolute;
	height: 123px;
	top: 35vh;
	font-family: Arvo;
	font-style: normal;
	font-weight: normal;
	font-size: 640%;
	line-height: 123px;
	color: #FFFFFF;
	text-align:center;
	width: 100%;
	left: 0%;
}

.titleTwo {
	position: absolute;
	width: 100%;
	height: 123px;
	left: 0%;
 	top: 100vh;
	font-family: Arvo;
	font-style: normal;
	font-weight: normal;
	font-size: 640%;
	line-height: 123px;
	color: #FFFFFF;
	text-align:center;
	width: 100%;
	left: 0%;
}

.titleThree {
	position: absolute;
	height: 123px;
	top: 155vh;
	font-family: Arvo;
	font-style: normal;
	font-weight: normal;
	font-size: 640%;
	line-height: 123px;
	color: #FFFFFF;
	text-align:center;
	width: 100%;
	left: 0%;
}

.imageOne {
	/* width: 1161px;
	height: 1245px;
	left: 0px;
	top: 71px;
	position: absolute; */
	
	width: 100vw;
	height: 200vh;
	margin: 0;
	padding: 0;
	max-height: 100%;
}


    
    

@media only screen and (max-width: 530px) {
	.title{
		top: 20vh;
		font-size: 300%;
		
	}
	
	.titleTwo{
		top: 45vh;
		font-size: 300%;
	}
	
	.titleThree{
		top: 70vh;
		font-size: 300%;
	}
	
    .imageOne {
      width: 100vw;
	  height: 80vh;
	  margin: 0;
	  padding: 0;
    }
    
}

    