.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}


/* Responsive Styles */

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}