<div class="container-xl px-0">
    <div class="row no-gutters align-items-center">
        <div class="col-6 description">
            <div>
                <div class="paragraph">
                    <div class="title">Lucas</div>
                    <div class="text">7 years old, adopted when 2 years old<br> Papillon mix<br> Athletic
                        <br> Loves food<br> Catches flies<br> Chases cats and squirrels<br> Barks at motorcycles
                    </div>
                </div>

                <div class="paragraph">
                    <div class="title">Hummingbird</div>
                    <div class="text">
                        Found under tree, fell out of nest<br> Fed can sugar solution <br> Loves vibrant flowers<br> Released during day, returned during night<br> Fostered for a week, returned to animal services
                    </div>
                </div>

                <div class="paragraph">
                    <div class="title">Squirrel</div>
                    <div class="text">
                        Chased into house by Lucas<br> Sharp claws<br> Fleas
                        <br> Short-term, quickly released
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../assets/dog.jpg" class="image" id="dog-desktop">
            <img src="../../../assets/dog-mobile.svg" class="image" id="dog-mobile">
        </div>
    </div>
    <div class="my-3 ml-5">
        <a routerLink="/interests">
            <img src="../../../assets/backButton.svg" class="back-button">
        </a>
    </div>
</div>