<div class="container bg">
    <div class="container mt-4 ml-3">

        <div class="row top-row">

        </div>

        <div class="row intro-row">
            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <div>
                        Hey, I'm
                    </div>
            </div>
        </div>
    </div>

    <div class="row name-row">
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <div class="order-1 mr-2">
                    <b>—</b>
                </div>
                <div class="order-2">
                    WILLIAM SHIH
                </div>
                <div class="order-3 ml-2 mr-4">
                    <b>—</b>
                </div>
                <div class="order-4 flex-grow-1 fill">

                </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <div class="row space-row">

        </div>

        </div>
        </div>