<!DOCTYPE html>

<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <body>
    <div class="container bg">
      <div class="container mt-4 ml-3">

        <div class="row top-row">

        </div>

        <div class="row intro-row">
          <div class="col-4">
            <div class="d-flex justify-content-center">
              <div>
                Hey, I'm
              </div>
            </div>
          </div>
        </div>

        <div class="row name-row">
          <div class="col-4">
            <div class="d-flex justify-content-center">
              <div class="order-1 mr-2">
                <b>—</b>
              </div>
              <div class="order-2">
                WILLIAM SHIH
              </div>
              <div class="order-3 ml-2">
                <b>—</b>
              </div>
            </div>
          </div>
        </div>

        <div class="row space-row">

        </div>

      </div>
    </div>
  </body>
</html>
